<!DOCTYPE html>
<html>
<head>
	<title>Unai</title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

	<div class="videocontainer">

		<%= video_tag "Comp2.mp4", "Comp2.webm",
		"Comp2.ogv", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>	  	
	</div>

	<div class="cuadrado"></div>

	<div class="graphic">
	    <?xml version="1.0" encoding="utf-8"?>



			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			     viewBox="0 0 1366 720" style="enable-background:new 0 0 1366 720;" xml:space="preserve">
			<style type="text/css">
			    .st0{display:none;}
			    .st1{display:inline;fill:#CCCCCC;}
			    
			    .st3{font-size:18.8282px;}
			    .st4{font-size:17.3799px;}
			    .st5{font-size:33.3115px;}
			    .st6{font-size:145px;}
			    .st7{letter-spacing:-10;}
			    .st8{font-size:170px;}
			    .st9{letter-spacing:-12;}
			    .st10{display:inline;fill:url(#XMLID_247_);}
			    .st11{display:inline;fill:#C1C1C1;}
			    .st12{fill:#CCCCCC;}
			    .st13{fill:url(#XMLID_248_);}
			    .st14{fill:#C1C1C1;}
			</style>

			<g id="mail_copy">
			    <g id="XMLID_12_">
			        <path id="XMLID_213_" class="st12" d="M104.3,607c0,0.9,0,1.8,0.1,2.5h-1.5l-0.1-1.5h0c-0.4,0.7-1.4,1.7-3,1.7
			            c-1.4,0-3.1-0.8-3.1-4v-5.3h1.7v5c0,1.7,0.5,2.9,2,2.9c1.1,0,1.9-0.8,2.2-1.5c0.1-0.2,0.2-0.5,0.2-0.8v-5.6h1.7V607z"/>
			        <path id="XMLID_215_" class="st12" d="M107,602.9c0-0.9,0-1.7-0.1-2.5h1.5l0.1,1.5h0c0.5-0.9,1.5-1.7,3-1.7c1.3,0,3.2,0.8,3.2,3.9
			            v5.4h-1.7v-5.3c0-1.5-0.5-2.7-2.1-2.7c-1.1,0-1.9,0.8-2.2,1.7c-0.1,0.2-0.1,0.5-0.1,0.8v5.5H107V602.9z"/>
			        <path id="XMLID_217_" class="st12" d="M122.5,609.5l-0.1-1.1h-0.1c-0.5,0.7-1.5,1.4-2.8,1.4c-1.8,0-2.8-1.3-2.8-2.6
			            c0-2.2,2-3.4,5.5-3.4v-0.2c0-0.8-0.2-2.1-2.1-2.1c-0.8,0-1.7,0.3-2.4,0.7l-0.4-1.1c0.8-0.5,1.8-0.8,3-0.8c2.8,0,3.5,1.9,3.5,3.7
			            v3.4c0,0.8,0,1.6,0.2,2.2H122.5z M122.3,604.9c-1.8,0-3.9,0.3-3.9,2.1c0,1.1,0.7,1.6,1.6,1.6c1.2,0,1.9-0.8,2.2-1.5
			            c0.1-0.2,0.1-0.4,0.1-0.5V604.9z"/>
			        <path id="XMLID_220_" class="st12" d="M128.4,597.8c0,0.6-0.4,1-1.1,1c-0.6,0-1-0.5-1-1c0-0.6,0.4-1,1-1
			            C128,596.8,128.4,597.2,128.4,597.8z M126.6,609.5v-9.1h1.7v9.1H126.6z"/>
			        <path id="XMLID_223_" class="st12" d="M130.9,609.5c0-0.6,0.1-1.5,0.1-2.4v-11h1.6v5.7h0c0.6-1,1.6-1.7,3.1-1.7
			            c2.3,0,3.9,1.9,3.8,4.7c0,3.3-2.1,4.9-4.1,4.9c-1.3,0-2.4-0.5-3.1-1.7h-0.1l-0.1,1.5H130.9z M132.6,605.8c0,0.2,0,0.4,0.1,0.6
			            c0.3,1.1,1.3,1.9,2.5,1.9c1.7,0,2.8-1.4,2.8-3.5c0-1.8-0.9-3.4-2.7-3.4c-1.1,0-2.2,0.8-2.5,2c0,0.2-0.1,0.4-0.1,0.7V605.8z"/>
			        <path id="XMLID_226_" class="st12" d="M149.9,604.9c0,3.4-2.3,4.8-4.5,4.8c-2.5,0-4.4-1.8-4.4-4.7c0-3,2-4.8,4.5-4.8
			            C148.2,600.2,149.9,602.1,149.9,604.9z M142.7,605c0,2,1.1,3.5,2.8,3.5c1.6,0,2.8-1.5,2.8-3.5c0-1.5-0.8-3.5-2.7-3.5
			            C143.5,601.4,142.7,603.2,142.7,605z"/>
			        <path id="XMLID_229_" class="st12" d="M154,597.8v2.6h2.4v1.3H154v4.9c0,1.1,0.3,1.8,1.2,1.8c0.4,0,0.8-0.1,1-0.1l0.1,1.2
			            c-0.3,0.1-0.8,0.2-1.5,0.2c-0.8,0-1.4-0.2-1.8-0.7c-0.5-0.5-0.6-1.3-0.6-2.4v-5H151v-1.3h1.4v-2.2L154,597.8z"/>
			        <path id="XMLID_231_" class="st12" d="M166.7,610.7c-1,0.5-2.1,0.8-3.4,0.8c-3.1,0-5.7-2.3-5.7-5.9c0-3.9,2.7-7.2,6.9-7.2
			            c3.3,0,5.5,2.3,5.5,5.4c0,2.8-1.6,4.5-3.4,4.5c-0.8,0-1.4-0.5-1.4-1.7h-0.1c-0.7,1.1-1.5,1.7-2.7,1.7c-1.1,0-2-0.9-2-2.4
			            c0-2.3,1.8-4.5,4.5-4.5c0.8,0,1.5,0.2,2,0.4l-0.6,3.4c-0.3,1.4-0.1,2.1,0.6,2.1c1,0,2-1.3,2-3.4c0-2.7-1.6-4.7-4.6-4.7
			            c-3.1,0-5.6,2.4-5.6,6.3c0,3.1,2.1,5.1,4.8,5.1c1.1,0,2.1-0.2,2.8-0.7L166.7,610.7z M165.7,602.6c-0.2-0.1-0.5-0.1-0.9-0.1
			            c-1.7,0-3,1.6-3,3.4c0,0.8,0.4,1.4,1.2,1.4c1.1,0,2.1-1.4,2.3-2.6L165.7,602.6z"/>
			        <path id="XMLID_234_" class="st12" d="M180,600.4c0,0.7-0.1,1.4-0.1,2.5v5.3c0,2.1-0.4,3.4-1.3,4.2c-0.9,0.8-2.2,1.1-3.3,1.1
			            c-1.1,0-2.3-0.3-3-0.8l0.4-1.3c0.6,0.4,1.5,0.7,2.7,0.7c1.7,0,2.9-0.9,2.9-3.2v-1h0c-0.5,0.8-1.5,1.5-2.9,1.5
			            c-2.3,0-3.9-1.9-3.9-4.4c0-3.1,2-4.8,4.1-4.8c1.6,0,2.4,0.8,2.8,1.6h0l0.1-1.4H180z M178.3,604c0-0.3,0-0.5-0.1-0.8
			            c-0.3-1-1.1-1.8-2.3-1.8c-1.6,0-2.7,1.3-2.7,3.4c0,1.8,0.9,3.3,2.7,3.3c1,0,1.9-0.6,2.3-1.7c0.1-0.3,0.1-0.6,0.1-0.9V604z"/>
			        <path id="XMLID_237_" class="st12" d="M182.5,602.9c0-0.9,0-1.7-0.1-2.5h1.4l0.1,1.5h0.1c0.5-0.9,1.4-1.7,2.9-1.7
			            c1.2,0,2.2,0.8,2.6,1.8h0c0.3-0.5,0.6-0.9,1-1.2c0.5-0.4,1.1-0.6,2-0.6c1.2,0,3,0.8,3,4v5.4h-1.6v-5.2c0-1.8-0.6-2.8-2-2.8
			            c-0.9,0-1.7,0.7-2,1.5c-0.1,0.2-0.1,0.5-0.1,0.8v5.6h-1.6V604c0-1.4-0.6-2.5-1.9-2.5c-1,0-1.8,0.8-2.1,1.7
			            c-0.1,0.2-0.1,0.5-0.1,0.8v5.5h-1.6V602.9z"/>
			        <path id="XMLID_239_" class="st12" d="M203.3,609.5l-0.1-1.1h-0.1c-0.5,0.7-1.5,1.4-2.8,1.4c-1.8,0-2.8-1.3-2.8-2.6
			            c0-2.2,2-3.4,5.5-3.4v-0.2c0-0.8-0.2-2.1-2.1-2.1c-0.8,0-1.7,0.3-2.4,0.7l-0.4-1.1c0.8-0.5,1.8-0.8,3-0.8c2.8,0,3.5,1.9,3.5,3.7
			            v3.4c0,0.8,0,1.6,0.2,2.2H203.3z M203,604.9c-1.8,0-3.9,0.3-3.9,2.1c0,1.1,0.7,1.6,1.6,1.6c1.2,0,1.9-0.8,2.2-1.5
			            c0.1-0.2,0.1-0.4,0.1-0.5V604.9z"/>
			        <path id="XMLID_242_" class="st12" d="M209.2,597.8c0,0.6-0.4,1-1.1,1c-0.6,0-1-0.5-1-1c0-0.6,0.4-1,1-1
			            C208.8,596.8,209.2,597.2,209.2,597.8z M207.3,609.5v-9.1h1.7v9.1H207.3z"/>
			        <path id="XMLID_245_" class="st12" d="M211.7,596.1h1.7v13.4h-1.7V596.1z"/>
			    </g>
			</g>
			<g id="tel_copy">
			    <g id="XMLID_11_">
			        <path id="XMLID_180_" class="st12" d="M101,581v4.1h3.9v1H101v4.1h-1.1v-4.1H96v-1h3.9V581H101z"/>
			        <path id="XMLID_182_" class="st12" d="M110.2,578.2c-1.3,1.7-2.2,4-2.2,7.1c0,3.1,1,5.3,2.2,7.1H109c-1.1-1.4-2.3-3.7-2.3-7.1
			            c0-3.4,1.2-5.6,2.3-7.1H110.2z"/>
			        <path id="XMLID_184_" class="st12" d="M111.7,588.5c0.4,0.3,1.4,0.7,2.5,0.7c2,0,2.6-1.3,2.6-2.2c0-1.6-1.4-2.3-2.9-2.3H113v-1.1
			            h0.9c1.1,0,2.5-0.6,2.5-1.9c0-0.9-0.6-1.7-2-1.7c-0.9,0-1.8,0.4-2.3,0.7l-0.4-1.1c0.6-0.4,1.7-0.9,3-0.9c2.2,0,3.2,1.3,3.2,2.7
			            c0,1.2-0.7,2.2-2.1,2.7v0c1.4,0.3,2.5,1.3,2.5,2.9c0,1.8-1.4,3.4-4.1,3.4c-1.3,0-2.4-0.4-2.9-0.8L111.7,588.5z"/>
			        <path id="XMLID_186_" class="st12" d="M125,590.3v-3.1h-5.2v-1l5-7.2h1.7v7h1.6v1.2h-1.6v3.1H125z M125,586v-3.8
			            c0-0.6,0-1.2,0.1-1.8H125c-0.3,0.7-0.6,1.1-0.9,1.7l-2.8,3.8v0H125z"/>
			        <path id="XMLID_189_" class="st12" d="M128.8,592.4c1.2-1.7,2.2-4,2.2-7.1c0-3.1-0.9-5.3-2.2-7.1h1.2c1.1,1.4,2.3,3.6,2.3,7.1
			            c0,3.4-1.2,5.6-2.3,7.1H128.8z"/>
			        <path id="XMLID_191_" class="st12" d="M140.6,580c-0.3,0-0.7,0-1.1,0.1c-2.4,0.4-3.7,2.2-3.9,4h0.1c0.5-0.7,1.5-1.3,2.7-1.3
			            c2,0,3.4,1.4,3.4,3.6c0,2.1-1.4,4-3.8,4c-2.4,0-4-1.9-4-4.8c0-2.2,0.8-4,1.9-5.1c0.9-0.9,2.2-1.5,3.6-1.7c0.5-0.1,0.8-0.1,1.1-0.1
			            V580z M140.1,586.6c0-1.6-0.9-2.6-2.3-2.6c-0.9,0-1.8,0.6-2.2,1.4c-0.1,0.2-0.2,0.4-0.2,0.7c0,1.9,0.9,3.2,2.5,3.2
			            C139.3,589.3,140.1,588.2,140.1,586.6z"/>
			        <path id="XMLID_194_" class="st12" d="M149.8,580.3h-4.3l-0.4,2.9c0.3,0,0.5-0.1,0.9-0.1c0.9,0,1.7,0.2,2.4,0.6
			            c0.9,0.5,1.6,1.5,1.6,2.9c0,2.2-1.8,3.9-4.2,3.9c-1.2,0-2.3-0.3-2.8-0.7l0.4-1.2c0.5,0.3,1.4,0.6,2.4,0.6c1.4,0,2.7-0.9,2.7-2.5
			            c0-1.5-1-2.5-3.3-2.5c-0.6,0-1.1,0.1-1.6,0.1l0.7-5.4h5.4V580.3z"/>
			        <path id="XMLID_196_" class="st12" d="M152.8,589.2c0.3,0,0.7,0,1.2-0.1c0.9-0.1,1.7-0.5,2.4-1.1c0.7-0.7,1.3-1.7,1.5-3h-0.1
			            c-0.6,0.8-1.5,1.2-2.7,1.2c-2,0-3.3-1.5-3.3-3.5c0-2.1,1.5-4,3.9-4s3.7,1.9,3.7,4.8c0,2.5-0.8,4.2-1.9,5.3
			            c-0.9,0.9-2.1,1.4-3.3,1.5c-0.6,0.1-1,0.1-1.4,0.1V589.2z M153.4,582.7c0,1.4,0.9,2.4,2.2,2.4c1,0,1.8-0.5,2.2-1.2
			            c0.1-0.1,0.1-0.3,0.1-0.6c0-1.9-0.7-3.4-2.3-3.4C154.3,579.9,153.4,581.1,153.4,582.7z"/>
			        <path id="XMLID_199_" class="st12" d="M168.2,579v1l-4.9,10.3h-1.6l4.9-10v0h-5.5V579H168.2z"/>
			        <path id="XMLID_201_" class="st12" d="M173.1,580.4L173.1,580.4l-2,1.1l-0.3-1.2l2.5-1.3h1.3v11.3h-1.5V580.4z"/>
			        <path id="XMLID_203_" class="st12" d="M186.2,584.5c0,3.8-1.4,6-3.9,6c-2.2,0-3.7-2.1-3.7-5.8c0-3.8,1.6-5.9,3.9-5.9
			            C184.9,578.8,186.2,580.9,186.2,584.5z M180.1,584.7c0,2.9,0.9,4.6,2.3,4.6c1.6,0,2.3-1.8,2.3-4.7c0-2.8-0.7-4.6-2.3-4.6
			            C181.1,580,180.1,581.6,180.1,584.7z"/>
			        <path id="XMLID_206_" class="st12" d="M195,579v1l-4.9,10.3h-1.6l4.9-10v0h-5.5V579H195z"/>
			        <path id="XMLID_208_" class="st12" d="M201.3,590.3v-3.1H196v-1l5-7.2h1.7v7h1.6v1.2h-1.6v3.1H201.3z M201.3,586v-3.8
			            c0-0.6,0-1.2,0.1-1.8h-0.1c-0.3,0.7-0.6,1.1-0.9,1.7l-2.8,3.8v0H201.3z"/>
			        <path id="XMLID_211_" class="st12" d="M205.8,588.5c0.4,0.3,1.4,0.7,2.5,0.7c2,0,2.6-1.3,2.6-2.2c0-1.6-1.4-2.3-2.9-2.3h-0.9v-1.1
			            h0.9c1.1,0,2.5-0.6,2.5-1.9c0-0.9-0.6-1.7-2-1.7c-0.9,0-1.8,0.4-2.3,0.7l-0.4-1.1c0.6-0.4,1.7-0.9,3-0.9c2.2,0,3.2,1.3,3.2,2.7
			            c0,1.2-0.7,2.2-2.1,2.7v0c1.4,0.3,2.5,1.3,2.5,2.9c0,1.8-1.4,3.4-4.1,3.4c-1.3,0-2.4-0.4-2.9-0.8L205.8,588.5z"/>
			    </g>
			</g>
			<g id="computer_copy">
			    <g id="XMLID_10_">
			        <path id="XMLID_141_" class="st12" d="M116.5,545.2c-1.1,0.5-3.2,1.1-5.9,1.1c-6.3,0-11.1-4-11.1-11.4c0-7,4.8-11.8,11.7-11.8
			            c2.8,0,4.6,0.6,5.3,1l-0.7,2.4c-1.1-0.5-2.7-0.9-4.5-0.9c-5.3,0-8.8,3.4-8.8,9.3c0,5.5,3.2,9,8.6,9c1.8,0,3.6-0.4,4.7-0.9
			            L116.5,545.2z"/>
			        <path id="XMLID_143_" class="st12" d="M134.1,537.7c0,6-4.1,8.6-8,8.6c-4.4,0-7.7-3.2-7.7-8.3c0-5.4,3.5-8.6,8-8.6
			            C131,529.4,134.1,532.8,134.1,537.7z M121.3,537.9c0,3.5,2,6.2,4.9,6.2c2.8,0,4.9-2.6,4.9-6.3c0-2.7-1.4-6.2-4.8-6.2
			            C122.8,531.6,121.3,534.8,121.3,537.9z"/>
			        <path id="XMLID_146_" class="st12" d="M137.6,534.1c0-1.7,0-3-0.1-4.4h2.6l0.1,2.6h0.1c0.9-1.5,2.4-3,5.1-3c2.2,0,3.9,1.3,4.6,3.2
			            h0.1c0.5-0.9,1.1-1.6,1.8-2.1c1-0.7,2-1.1,3.6-1.1c2.1,0,5.3,1.4,5.3,7v9.5h-2.9v-9.1c0-3.1-1.1-5-3.5-5c-1.7,0-3,1.2-3.5,2.7
			            c-0.1,0.4-0.2,0.9-0.2,1.5v10h-2.9v-9.7c0-2.6-1.1-4.4-3.4-4.4c-1.8,0-3.2,1.5-3.6,2.9c-0.2,0.4-0.2,0.9-0.2,1.4v9.7h-2.9V534.1z"
			            />
			        <path id="XMLID_148_" class="st12" d="M165.2,535c0-2.1-0.1-3.7-0.1-5.3h2.6l0.1,2.8h0.1c1.2-2,3.1-3.1,5.7-3.1
			            c3.9,0,6.8,3.3,6.8,8.2c0,5.8-3.5,8.7-7.3,8.7c-2.1,0-4-0.9-5-2.5h-0.1v8.8h-2.9V535z M168.1,539.3c0,0.4,0.1,0.8,0.1,1.2
			            c0.5,2,2.3,3.4,4.4,3.4c3.1,0,4.9-2.5,4.9-6.2c0-3.2-1.7-6-4.8-6c-2,0-3.9,1.4-4.4,3.6c-0.1,0.4-0.2,0.8-0.2,1.2V539.3z"/>
			        <path id="XMLID_151_" class="st12" d="M197.5,541.5c0,1.7,0,3.1,0.1,4.4h-2.6l-0.2-2.6h-0.1c-0.8,1.3-2.5,3-5.3,3
			            c-2.5,0-5.6-1.4-5.6-7.1v-9.4h2.9v8.9c0,3.1,0.9,5.1,3.6,5.1c2,0,3.3-1.4,3.9-2.7c0.2-0.4,0.3-1,0.3-1.5v-9.9h2.9V541.5z"/>
			        <path id="XMLID_153_" class="st12" d="M205.8,525.1v4.6h4.2v2.2h-4.2v8.7c0,2,0.6,3.1,2.2,3.1c0.8,0,1.3-0.1,1.7-0.2l0.1,2.2
			            c-0.6,0.2-1.5,0.4-2.6,0.4c-1.4,0-2.5-0.4-3.2-1.2c-0.8-0.9-1.1-2.3-1.1-4.2V532h-2.5v-2.2h2.5v-3.9L205.8,525.1z"/>
			        <path id="XMLID_155_" class="st12" d="M214.5,538.4c0.1,4,2.6,5.6,5.5,5.6c2.1,0,3.4-0.4,4.5-0.8l0.5,2.1c-1,0.5-2.8,1-5.4,1
			            c-5,0-7.9-3.3-7.9-8.1s2.9-8.7,7.6-8.7c5.3,0,6.7,4.6,6.7,7.6c0,0.6-0.1,1.1-0.1,1.4H214.5z M223.1,536.3c0-1.9-0.8-4.8-4.1-4.8
			            c-3,0-4.3,2.7-4.5,4.8H223.1z"/>
			        <path id="XMLID_158_" class="st12" d="M229.4,534.8c0-1.9,0-3.5-0.1-5h2.6l0.1,3.2h0.1c0.7-2.2,2.5-3.5,4.5-3.5
			            c0.3,0,0.6,0,0.8,0.1v2.8c-0.3-0.1-0.6-0.1-1-0.1c-2.1,0-3.5,1.6-3.9,3.8c-0.1,0.4-0.1,0.9-0.1,1.4v8.6h-2.9V534.8z"/>
			        <path id="XMLID_160_" class="st12" d="M260.9,529.8c-0.1,1.2-0.1,2.5-0.1,4.4v9.4c0,3.7-0.7,6-2.3,7.4c-1.6,1.5-3.8,1.9-5.9,1.9
			            c-1.9,0-4.1-0.5-5.4-1.3l0.7-2.2c1.1,0.7,2.7,1.3,4.7,1.3c3,0,5.2-1.6,5.2-5.6v-1.8h-0.1c-0.9,1.5-2.6,2.7-5.1,2.7
			            c-4,0-6.9-3.4-6.9-7.9c0-5.5,3.6-8.6,7.3-8.6c2.8,0,4.3,1.5,5,2.8h0.1l0.1-2.4H260.9z M257.9,536.1c0-0.5,0-0.9-0.2-1.3
			            c-0.5-1.7-2-3.1-4.1-3.1c-2.8,0-4.8,2.4-4.8,6.1c0,3.2,1.6,5.8,4.8,5.8c1.8,0,3.4-1.1,4.1-3c0.2-0.5,0.2-1.1,0.2-1.6V536.1z"/>
			        <path id="XMLID_163_" class="st12" d="M265.3,534.8c0-1.9,0-3.5-0.1-5h2.6l0.1,3.2h0.1c0.7-2.2,2.5-3.5,4.5-3.5
			            c0.3,0,0.6,0,0.8,0.1v2.8c-0.3-0.1-0.6-0.1-1-0.1c-2.1,0-3.5,1.6-3.9,3.8c-0.1,0.4-0.1,0.9-0.1,1.4v8.6h-2.9V534.8z"/>
			        <path id="XMLID_165_" class="st12" d="M284.8,545.9l-0.2-2h-0.1c-0.9,1.3-2.6,2.4-4.9,2.4c-3.3,0-4.9-2.3-4.9-4.6
			            c0-3.9,3.5-6,9.7-6v-0.3c0-1.3-0.4-3.7-3.7-3.7c-1.5,0-3.1,0.5-4.2,1.2l-0.7-1.9c1.3-0.9,3.3-1.4,5.3-1.4c4.9,0,6.1,3.4,6.1,6.6v6
			            c0,1.4,0.1,2.8,0.3,3.9H284.8z M284.3,537.7c-3.2-0.1-6.8,0.5-6.8,3.6c0,1.9,1.3,2.8,2.8,2.8c2.1,0,3.4-1.3,3.9-2.7
			            c0.1-0.3,0.2-0.6,0.2-0.9V537.7z"/>
			        <path id="XMLID_168_" class="st12" d="M291.7,535c0-2.1-0.1-3.7-0.1-5.3h2.6l0.1,2.8h0.1c1.2-2,3.1-3.1,5.7-3.1
			            c3.9,0,6.8,3.3,6.8,8.2c0,5.8-3.5,8.7-7.3,8.7c-2.1,0-4-0.9-5-2.5h-0.1v8.8h-2.9V535z M294.6,539.3c0,0.4,0.1,0.8,0.1,1.2
			            c0.5,2,2.3,3.4,4.4,3.4c3.1,0,4.9-2.5,4.9-6.2c0-3.2-1.7-6-4.8-6c-2,0-3.9,1.4-4.4,3.6c-0.1,0.4-0.2,0.8-0.2,1.2V539.3z"/>
			        <path id="XMLID_171_" class="st12" d="M310.5,522.2h2.9v10.1h0.1c0.5-0.8,1.2-1.6,2.1-2.1c0.9-0.5,1.9-0.8,3-0.8
			            c2.2,0,5.6,1.3,5.6,6.9v9.6h-2.9v-9.3c0-2.6-1-4.8-3.7-4.8c-1.9,0-3.4,1.3-3.9,2.9c-0.2,0.4-0.2,0.8-0.2,1.4v9.7h-2.9V522.2z"/>
			        <path id="XMLID_173_" class="st12" d="M332.1,525.2c0,1-0.7,1.8-1.9,1.8c-1,0-1.8-0.8-1.8-1.8c0-1,0.8-1.8,1.8-1.8
			            C331.4,523.4,332.1,524.2,332.1,525.2z M328.8,545.9v-16.1h2.9v16.1H328.8z"/>
			        <path id="XMLID_176_" class="st12" d="M348,545.3c-0.8,0.4-2.5,0.9-4.6,0.9c-4.9,0-8-3.3-8-8.2c0-5,3.4-8.6,8.7-8.6
			            c1.7,0,3.3,0.4,4.1,0.8l-0.7,2.3c-0.7-0.4-1.8-0.8-3.4-0.8c-3.7,0-5.7,2.7-5.7,6.1c0,3.7,2.4,6,5.6,6c1.7,0,2.8-0.4,3.6-0.8
			            L348,545.3z"/>
			        <path id="XMLID_178_" class="st12" d="M350.8,542.9c0.9,0.6,2.4,1.2,3.9,1.2c2.1,0,3.1-1.1,3.1-2.4c0-1.4-0.8-2.2-3-3
			            c-2.9-1-4.3-2.6-4.3-4.6c0-2.6,2.1-4.7,5.6-4.7c1.6,0,3.1,0.5,4,1l-0.7,2.1c-0.6-0.4-1.8-0.9-3.3-0.9c-1.7,0-2.7,1-2.7,2.2
			            c0,1.3,1,1.9,3.1,2.7c2.8,1.1,4.2,2.5,4.2,4.9c0,2.8-2.2,4.8-6,4.8c-1.8,0-3.4-0.4-4.5-1.1L350.8,542.9z"/>
			    </g>
			</g>
			<g id="video_copy">
			    <g id="XMLID_9_">
			        <path id="XMLID_108_" class="st12" d="M106.8,518l-7.3-22.5h3.1l3.5,11.1c1,3,1.8,5.8,2.4,8.4h0.1c0.6-2.6,1.6-5.4,2.6-8.4
			            l3.8-11.1h3.1l-8,22.5H106.8z"/>
			        <path id="XMLID_110_" class="st12" d="M122.9,497.4c0,1-0.7,1.8-1.9,1.8c-1,0-1.8-0.8-1.8-1.8c0-1,0.8-1.8,1.8-1.8
			            C122.2,495.6,122.9,496.4,122.9,497.4z M119.6,518v-16.1h2.9V518H119.6z"/>
			        <path id="XMLID_113_" class="st12" d="M141.2,494.4v19.5c0,1.4,0,3.1,0.1,4.2h-2.6l-0.1-2.8h-0.1c-0.9,1.8-2.9,3.2-5.5,3.2
			            c-3.9,0-6.9-3.3-6.9-8.2c0-5.4,3.3-8.7,7.2-8.7c2.5,0,4.1,1.2,4.9,2.5h0.1v-9.6H141.2z M138.2,508.5c0-0.4,0-0.9-0.1-1.2
			            c-0.4-1.9-2-3.4-4.2-3.4c-3,0-4.8,2.7-4.8,6.2c0,3.3,1.6,6,4.8,6c2,0,3.8-1.3,4.3-3.5c0.1-0.4,0.1-0.8,0.1-1.3V508.5z"/>
			        <path id="XMLID_116_" class="st12" d="M147.5,510.5c0.1,4,2.6,5.6,5.5,5.6c2.1,0,3.4-0.4,4.5-0.8l0.5,2.1c-1,0.5-2.8,1-5.4,1
			            c-5,0-7.9-3.3-7.9-8.1s2.9-8.7,7.6-8.7c5.3,0,6.7,4.6,6.7,7.6c0,0.6-0.1,1.1-0.1,1.4H147.5z M156.1,508.4c0-1.9-0.8-4.8-4.1-4.8
			            c-3,0-4.3,2.7-4.5,4.8H156.1z"/>
			        <path id="XMLID_119_" class="st12" d="M177,509.8c0,6-4.1,8.6-8,8.6c-4.4,0-7.7-3.2-7.7-8.3c0-5.4,3.5-8.6,8-8.6
			            C173.8,501.5,177,504.9,177,509.8z M164.2,510c0,3.5,2,6.2,4.9,6.2c2.8,0,4.9-2.6,4.9-6.3c0-2.7-1.4-6.2-4.8-6.2
			            C165.7,503.7,164.2,506.9,164.2,510z"/>
			        <path id="XMLID_122_" class="st12" d="M189,510.5c0.1,4,2.6,5.6,5.5,5.6c2.1,0,3.4-0.4,4.5-0.8l0.5,2.1c-1,0.5-2.8,1-5.4,1
			            c-5,0-7.9-3.3-7.9-8.1s2.9-8.7,7.6-8.7c5.3,0,6.7,4.6,6.7,7.6c0,0.6-0.1,1.1-0.1,1.4H189z M197.6,508.4c0-1.9-0.8-4.8-4.1-4.8
			            c-3,0-4.3,2.7-4.5,4.8H197.6z"/>
			        <path id="XMLID_125_" class="st12" d="M217.8,494.4v19.5c0,1.4,0,3.1,0.1,4.2h-2.6l-0.1-2.8h-0.1c-0.9,1.8-2.9,3.2-5.5,3.2
			            c-3.9,0-6.9-3.3-6.9-8.2c0-5.4,3.3-8.7,7.2-8.7c2.5,0,4.1,1.2,4.9,2.5h0.1v-9.6H217.8z M214.9,508.5c0-0.4,0-0.9-0.1-1.2
			            c-0.4-1.9-2-3.4-4.2-3.4c-3,0-4.8,2.7-4.8,6.2c0,3.3,1.6,6,4.8,6c2,0,3.8-1.3,4.3-3.5c0.1-0.4,0.1-0.8,0.1-1.3V508.5z"/>
			        <path id="XMLID_128_" class="st12" d="M225.8,497.4c0,1-0.7,1.8-1.9,1.8c-1,0-1.8-0.8-1.8-1.8c0-1,0.8-1.8,1.8-1.8
			            C225.1,495.6,225.8,496.4,225.8,497.4z M222.5,518v-16.1h2.9V518H222.5z"/>
			        <path id="XMLID_131_" class="st12" d="M233.7,497.3v4.6h4.2v2.2h-4.2v8.7c0,2,0.6,3.1,2.2,3.1c0.8,0,1.3-0.1,1.7-0.2l0.1,2.2
			            c-0.6,0.2-1.5,0.4-2.6,0.4c-1.4,0-2.5-0.4-3.2-1.2c-0.8-0.9-1.1-2.3-1.1-4.2v-8.8h-2.5v-2.2h2.5V498L233.7,497.3z"/>
			        <path id="XMLID_133_" class="st12" d="M244.3,497.4c0,1-0.7,1.8-1.9,1.8c-1,0-1.8-0.8-1.8-1.8c0-1,0.8-1.8,1.8-1.8
			            C243.6,495.6,244.3,496.4,244.3,497.4z M241,518v-16.1h2.9V518H241z"/>
			        <path id="XMLID_136_" class="st12" d="M248.7,506.3c0-1.7,0-3-0.1-4.4h2.6l0.2,2.7h0.1c0.8-1.5,2.7-3,5.3-3c2.2,0,5.7,1.3,5.7,6.9
			            v9.6h-2.9v-9.3c0-2.6-1-4.8-3.7-4.8c-1.9,0-3.4,1.4-3.9,3c-0.1,0.4-0.2,0.9-0.2,1.4v9.7h-2.9V506.3z"/>
			        <path id="XMLID_138_" class="st12" d="M280.9,501.9c-0.1,1.2-0.1,2.5-0.1,4.4v9.4c0,3.7-0.7,6-2.3,7.4c-1.6,1.5-3.8,1.9-5.9,1.9
			            c-1.9,0-4.1-0.5-5.4-1.3l0.7-2.2c1.1,0.7,2.7,1.3,4.7,1.3c3,0,5.2-1.6,5.2-5.6v-1.8h-0.1c-0.9,1.5-2.6,2.7-5.1,2.7
			            c-4,0-6.9-3.4-6.9-7.9c0-5.5,3.6-8.6,7.3-8.6c2.8,0,4.3,1.5,5,2.8h0.1l0.1-2.4H280.9z M277.8,508.3c0-0.5,0-0.9-0.2-1.3
			            c-0.5-1.7-2-3.1-4.1-3.1c-2.8,0-4.8,2.4-4.8,6.1c0,3.2,1.6,5.8,4.8,5.8c1.8,0,3.4-1.1,4.1-3c0.2-0.5,0.2-1.1,0.2-1.6V508.3z"/>
			    </g>
			</g>
			<g id="web_copy">
			    <g id="XMLID_8_">
			        <path id="XMLID_65_" class="st12" d="M101.5,489.1l-5.7-22.5h3.1l2.7,11.4c0.7,2.8,1.3,5.6,1.7,7.8h0.1c0.4-2.2,1.1-4.9,1.8-7.8
			            l3-11.3h3l2.7,11.4c0.6,2.7,1.2,5.3,1.6,7.7h0.1c0.5-2.5,1.1-5,1.8-7.8l3-11.3h3l-6.4,22.5h-3l-2.8-11.7c-0.7-2.9-1.2-5.1-1.5-7.3
			            h-0.1c-0.4,2.2-0.9,4.4-1.7,7.3l-3.2,11.7H101.5z"/>
			        <path id="XMLID_67_" class="st12" d="M126.1,481.5c0.1,4,2.6,5.6,5.5,5.6c2.1,0,3.4-0.4,4.5-0.8l0.5,2.1c-1,0.5-2.8,1-5.4,1
			            c-5,0-7.9-3.3-7.9-8.1s2.9-8.7,7.6-8.7c5.3,0,6.7,4.6,6.7,7.6c0,0.6-0.1,1.1-0.1,1.4H126.1z M134.7,479.4c0-1.9-0.8-4.8-4.1-4.8
			            c-3,0-4.3,2.7-4.5,4.8H134.7z"/>
			        <path id="XMLID_70_" class="st12" d="M140.7,489.1c0.1-1.1,0.1-2.7,0.1-4.2v-19.5h2.9v10.1h0.1c1-1.8,2.9-3,5.5-3
			            c4,0,6.8,3.3,6.8,8.2c0,5.8-3.6,8.6-7.2,8.6c-2.3,0-4.2-0.9-5.4-3h-0.1l-0.1,2.7H140.7z M143.7,482.6c0,0.4,0.1,0.7,0.1,1.1
			            c0.6,2,2.3,3.4,4.4,3.4c3.1,0,4.9-2.5,4.9-6.2c0-3.2-1.7-6-4.8-6c-2,0-3.9,1.4-4.5,3.6c-0.1,0.3-0.2,0.7-0.2,1.2V482.6z"/>
			        <path id="XMLID_73_" class="st12" d="M180.1,465.4v19.5c0,1.4,0,3.1,0.1,4.2h-2.6l-0.1-2.8h-0.1c-0.9,1.8-2.9,3.2-5.5,3.2
			            c-3.9,0-6.9-3.3-6.9-8.2c0-5.4,3.3-8.7,7.2-8.7c2.5,0,4.1,1.2,4.9,2.5h0.1v-9.6H180.1z M177.2,479.5c0-0.4,0-0.9-0.1-1.2
			            c-0.4-1.9-2-3.4-4.2-3.4c-3,0-4.8,2.7-4.8,6.2c0,3.3,1.6,6,4.8,6c2,0,3.8-1.3,4.3-3.5c0.1-0.4,0.1-0.8,0.1-1.3V479.5z"/>
			        <path id="XMLID_76_" class="st12" d="M186.3,481.5c0.1,4,2.6,5.6,5.5,5.6c2.1,0,3.4-0.4,4.5-0.8l0.5,2.1c-1,0.5-2.8,1-5.4,1
			            c-5,0-7.9-3.3-7.9-8.1s2.9-8.7,7.6-8.7c5.3,0,6.7,4.6,6.7,7.6c0,0.6-0.1,1.1-0.1,1.4H186.3z M194.9,479.4c0-1.9-0.8-4.8-4.1-4.8
			            c-3,0-4.3,2.7-4.5,4.8H194.9z"/>
			        <path id="XMLID_79_" class="st12" d="M202.1,472.9l3.2,9.1c0.5,1.5,1,2.8,1.3,4.1h0.1c0.4-1.3,0.8-2.7,1.4-4.1l3.1-9.1h3.1
			            l-6.3,16.1h-2.8l-6.1-16.1H202.1z"/>
			        <path id="XMLID_81_" class="st12" d="M218,481.5c0.1,4,2.6,5.6,5.5,5.6c2.1,0,3.4-0.4,4.5-0.8l0.5,2.1c-1,0.5-2.8,1-5.4,1
			            c-5,0-7.9-3.3-7.9-8.1s2.9-8.7,7.6-8.7c5.3,0,6.7,4.6,6.7,7.6c0,0.6-0.1,1.1-0.1,1.4H218z M226.6,479.4c0-1.9-0.8-4.8-4.1-4.8
			            c-3,0-4.3,2.7-4.5,4.8H226.6z"/>
			        <path id="XMLID_84_" class="st12" d="M232.7,465.4h2.9v23.7h-2.9V465.4z"/>
			        <path id="XMLID_86_" class="st12" d="M254.8,480.9c0,6-4.1,8.6-8,8.6c-4.4,0-7.7-3.2-7.7-8.3c0-5.4,3.5-8.6,8-8.6
			            C251.7,472.6,254.8,475.9,254.8,480.9z M242,481c0,3.5,2,6.2,4.9,6.2c2.8,0,4.9-2.6,4.9-6.3c0-2.7-1.4-6.2-4.8-6.2
			            C243.5,474.8,242,478,242,481z"/>
			        <path id="XMLID_93_" class="st12" d="M258.2,478.2c0-2.1-0.1-3.7-0.1-5.3h2.6l0.1,2.8h0.1c1.2-2,3.1-3.1,5.7-3.1
			            c3.9,0,6.8,3.3,6.8,8.2c0,5.8-3.5,8.7-7.3,8.7c-2.1,0-4-0.9-5-2.5h-0.1v8.8h-2.9V478.2z M261.1,482.5c0,0.4,0.1,0.8,0.1,1.2
			            c0.5,2,2.3,3.4,4.4,3.4c3.1,0,4.9-2.5,4.9-6.2c0-3.2-1.7-6-4.8-6c-2,0-3.9,1.4-4.4,3.6c-0.1,0.4-0.2,0.8-0.2,1.2V482.5z"/>
			        <path id="XMLID_99_" class="st12" d="M276.8,477.3c0-1.7,0-3-0.1-4.4h2.6l0.1,2.6h0.1c0.9-1.5,2.4-3,5.1-3c2.2,0,3.9,1.3,4.6,3.2
			            h0.1c0.5-0.9,1.1-1.6,1.8-2.1c1-0.7,2-1.1,3.6-1.1c2.1,0,5.3,1.4,5.3,7v9.5H297v-9.1c0-3.1-1.1-5-3.5-5c-1.7,0-3,1.2-3.5,2.7
			            c-0.1,0.4-0.2,0.9-0.2,1.5v10h-2.9v-9.7c0-2.6-1.1-4.4-3.4-4.4c-1.8,0-3.2,1.5-3.6,2.9c-0.2,0.4-0.2,0.9-0.2,1.4v9.7h-2.9V477.3z"
			            />
			        <path id="XMLID_101_" class="st12" d="M305.9,481.5c0.1,4,2.6,5.6,5.5,5.6c2.1,0,3.4-0.4,4.5-0.8l0.5,2.1c-1,0.5-2.8,1-5.4,1
			            c-5,0-7.9-3.3-7.9-8.1s2.9-8.7,7.6-8.7c5.3,0,6.7,4.6,6.7,7.6c0,0.6-0.1,1.1-0.1,1.4H305.9z M314.5,479.4c0-1.9-0.8-4.8-4.1-4.8
			            c-3,0-4.3,2.7-4.5,4.8H314.5z"/>
			        <path id="XMLID_104_" class="st12" d="M320.6,477.3c0-1.7,0-3-0.1-4.4h2.6l0.2,2.7h0.1c0.8-1.5,2.7-3,5.3-3c2.2,0,5.7,1.3,5.7,6.9
			            v9.6h-2.9v-9.3c0-2.6-1-4.8-3.7-4.8c-1.9,0-3.4,1.4-3.9,3c-0.1,0.4-0.2,0.9-0.2,1.4v9.7h-2.9V477.3z"/>
			        <path id="XMLID_106_" class="st12" d="M342.2,468.3v4.6h4.2v2.2h-4.2v8.7c0,2,0.6,3.1,2.2,3.1c0.8,0,1.3-0.1,1.7-0.2l0.1,2.2
			            c-0.6,0.2-1.5,0.4-2.6,0.4c-1.4,0-2.5-0.4-3.2-1.2c-0.8-0.9-1.1-2.3-1.1-4.2v-8.8h-2.5v-2.2h2.5v-3.9L342.2,468.3z"/>
			    </g>
			</g>
			<g id="Coming_copy">
			    <g id="XMLID_7_">
			        <path id="XMLID_52_" class="st12" d="M619.7,368.3c5.7,3.5,13.9,6.4,22.6,6.4c12.9,0,20.4-6.8,20.4-16.7c0-9.1-5.2-14.4-18.4-19.4
			            c-16-5.7-25.8-13.9-25.8-27.7c0-15.2,12.6-26.5,31.6-26.5c10,0,17.3,2.3,21.6,4.8l-3.5,10.3c-3.2-1.7-9.7-4.6-18.6-4.6
			            c-13.3,0-18.4,8-18.4,14.6c0,9.1,5.9,13.6,19.4,18.9c16.5,6.4,24.9,14.4,24.9,28.7c0,15.1-11.2,28.1-34.2,28.1
			            c-9.4,0-19.7-2.8-24.9-6.2L619.7,368.3z"/>
			        <path id="XMLID_54_" class="st12" d="M746,348c0,26-18,37.3-34.9,37.3c-19,0-33.6-13.9-33.6-36.1c0-23.5,15.4-37.3,34.8-37.3
			            C732.4,311.9,746,326.6,746,348z M690.3,348.7c0,15.4,8.8,27,21.3,27c12.2,0,21.3-11.5,21.3-27.3c0-11.9-5.9-27-21-27
			            C696.8,321.5,690.3,335.4,690.3,348.7z"/>
			        <path id="XMLID_57_" class="st12" d="M814.7,348c0,26-18,37.3-34.9,37.3c-19,0-33.6-13.9-33.6-36.1c0-23.5,15.4-37.3,34.8-37.3
			            C801.1,311.9,814.7,326.6,814.7,348z M759,348.7c0,15.4,8.8,27,21.3,27c12.2,0,21.3-11.5,21.3-27.3c0-11.9-5.9-27-21-27
			            C765.6,321.5,759,335.4,759,348.7z"/>
			        <path id="XMLID_60_" class="st12" d="M819.9,332.5c0-7.3-0.1-13.2-0.6-19h11.3l0.7,11.6h0.3c3.5-6.7,11.6-13.2,23.2-13.2
			            c9.7,0,24.8,5.8,24.8,29.9v41.9h-12.8v-40.5c0-11.3-4.2-20.7-16.2-20.7c-8.4,0-14.9,5.9-17.1,13.1c-0.6,1.6-0.9,3.8-0.9,5.9v42.2
			            h-12.8V332.5z"/>
			        <path id="XMLID_62_" class="st12" d="M887.1,376.3c0-5.2,3.6-9,8.6-9c5.2,0,8.6,3.8,8.6,9c0,5.1-3.3,9-8.6,9
			            C890.6,385.3,887.1,381.4,887.1,376.3z M890.7,355.6l-2-69.6h13.9l-2,69.6H890.7z"/>
			    </g>
			    <g id="XMLID_6_">
			        <path id="XMLID_37_" class="st12" d="M188.3,380c-5.4,2.7-16.3,5.4-30.3,5.4c-32.3,0-56.6-20.4-56.6-58
			            c0-35.9,24.3-60.2,59.8-60.2c14.3,0,23.3,3.1,27.2,5.1l-3.6,12.1c-5.6-2.7-13.6-4.8-23.1-4.8c-26.9,0-44.7,17.2-44.7,47.3
			            c0,28,16.1,46.1,44,46.1c9,0,18.2-1.9,24.1-4.8L188.3,380z"/>
			        <path id="XMLID_39_" class="st12" d="M266.1,341.9c0,30.4-21.1,43.7-41,43.7c-22.3,0-39.4-16.3-39.4-42.3
			            c0-27.5,18-43.7,40.8-43.7C250.2,299.5,266.1,316.7,266.1,341.9z M200.9,342.7c0,18,10.4,31.6,25,31.6c14.3,0,25-13.4,25-32
			            c0-13.9-7-31.6-24.6-31.6S200.9,327.1,200.9,342.7z"/>
			        <path id="XMLID_42_" class="st12" d="M272.3,323.7c0-8.5-0.2-15.5-0.7-22.3h13.1l0.7,13.3h0.5c4.6-7.8,12.2-15.1,25.8-15.1
			            c11.2,0,19.7,6.8,23.3,16.5h0.3c2.6-4.6,5.8-8.2,9.2-10.7c4.9-3.7,10.4-5.8,18.2-5.8c10.9,0,27,7.1,27,35.7v48.4h-14.6v-46.6
			            c0-15.8-5.8-25.3-17.8-25.3c-8.5,0-15.1,6.3-17.7,13.6c-0.7,2-1.2,4.8-1.2,7.5v50.8h-14.6v-49.3c0-13.1-5.8-22.6-17.2-22.6
			            c-9.4,0-16.1,7.5-18.5,15c-0.9,2.2-1.2,4.8-1.2,7.3v49.6h-14.6V323.7z"/>
			        <path id="XMLID_44_" class="st12" d="M417.9,278.3c0.2,5.1-3.6,9.2-9.5,9.2c-5.3,0-9-4.1-9-9.2c0-5.3,3.9-9.3,9.3-9.3
			            C414.4,268.9,417.9,273,417.9,278.3z M401.3,383.7v-82.3h15v82.3H401.3z"/>
			        <path id="XMLID_47_" class="st12" d="M428.3,323.7c0-8.5-0.2-15.5-0.7-22.3h13.3l0.9,13.6h0.3c4.1-7.8,13.6-15.5,27.2-15.5
			            c11.4,0,29.1,6.8,29.1,35v49.1h-15v-47.4c0-13.3-4.9-24.3-19-24.3c-9.9,0-17.5,7-20.1,15.3c-0.7,1.9-1,4.4-1,7v49.5h-15V323.7z"/>
			        <path id="XMLID_49_" class="st12" d="M580.8,301.4c-0.3,6-0.7,12.6-0.7,22.6v47.8c0,18.9-3.7,30.4-11.7,37.6
			            c-8,7.5-19.5,9.9-29.9,9.9c-9.9,0-20.7-2.4-27.4-6.8l3.7-11.4c5.4,3.4,13.9,6.5,24.1,6.5c15.3,0,26.5-8,26.5-28.7v-9.2h-0.3
			            c-4.6,7.6-13.4,13.8-26.2,13.8c-20.4,0-35-17.3-35-40.1c0-27.9,18.2-43.7,37.1-43.7c14.3,0,22.1,7.5,25.7,14.3h0.3l0.7-12.4H580.8
			            z M565.3,333.9c0-2.5-0.2-4.8-0.8-6.8c-2.7-8.7-10-15.8-20.9-15.8c-14.3,0-24.5,12.1-24.5,31.1c0,16.1,8.2,29.6,24.3,29.6
			            c9.2,0,17.5-5.8,20.7-15.3c0.9-2.5,1.2-5.4,1.2-8V333.9z"/>
			    </g>
			</g>
			<g id="lianeaz_copy">
			    <linearGradient id="XMLID_248_" gradientUnits="userSpaceOnUse" x1="95.2884" y1="222.3944" x2="736.9552" y2="222.3944">
			        <stop  offset="0" style="stop-color:#2446FA"/>
			        <stop  offset="1" style="stop-color:#34BDD0"/>
			    </linearGradient>
			    <rect id="XMLID_3_" x="95.3" y="206.6" class="st13" width="641.7" height="31.5"/>
			</g>
			<g id="lineag_copy">
			    <path id="XMLID_2_" class="st14" d="M733.3,194.5H99c-2,0-3.7,1.1-3.7,2.5s1.7,2.5,3.7,2.5h634.3c2,0,3.7-1.1,3.7-2.5
			        S735.3,194.5,733.3,194.5z"/>
			</g>
			<g id="Unai_copy">
			    <g id="XMLID_1_">
			        <path id="XMLID_14_" class="st12" d="M111.6,121.2v13.3c0,5,2.2,7.2,5.2,7.2c3.3,0,5.5-2.2,5.5-7.2v-13.3h2.9v13.1
			            c0,6.9-3.6,9.7-8.5,9.7c-4.6,0-8.1-2.6-8.1-9.6v-13.2H111.6z"/>
			        <path id="XMLID_16_" class="st12" d="M130.1,131.9c0-1.7,0-3-0.1-4.4h2.6l0.2,2.7h0.1c0.8-1.5,2.7-3,5.3-3c2.2,0,5.7,1.3,5.7,6.9
			            v9.6h-2.9v-9.3c0-2.6-1-4.8-3.7-4.8c-1.9,0-3.4,1.4-3.9,3c-0.1,0.4-0.2,0.9-0.2,1.4v9.7h-2.9V131.9z"/>
			        <path id="XMLID_18_" class="st12" d="M157.5,143.6l-0.2-2h-0.1c-0.9,1.3-2.6,2.4-4.9,2.4c-3.3,0-4.9-2.3-4.9-4.6
			            c0-3.9,3.5-6,9.7-6v-0.3c0-1.3-0.4-3.7-3.7-3.7c-1.5,0-3.1,0.5-4.2,1.2l-0.7-1.9c1.3-0.9,3.3-1.4,5.3-1.4c4.9,0,6.1,3.4,6.1,6.6v6
			            c0,1.4,0.1,2.8,0.3,3.9H157.5z M157.1,135.4c-3.2-0.1-6.8,0.5-6.8,3.6c0,1.9,1.3,2.8,2.8,2.8c2.1,0,3.4-1.3,3.9-2.7
			            c0.1-0.3,0.2-0.6,0.2-0.9V135.4z"/>
			        <path id="XMLID_21_" class="st12" d="M167.9,123c0,1-0.7,1.8-1.9,1.8c-1,0-1.8-0.8-1.8-1.8c0-1,0.8-1.8,1.8-1.8
			            C167.2,121.2,167.9,122,167.9,123z M164.7,143.6v-16.1h2.9v16.1H164.7z"/>
			        <path id="XMLID_25_" class="st12" d="M179.6,121.2h2.9v20h9.6v2.4h-12.5V121.2z"/>
			        <path id="XMLID_27_" class="st12" d="M195.3,120h2.9v23.6h-2.9V120z"/>
			        <path id="XMLID_29_" class="st12" d="M204.8,136.1c0.1,4,2.6,5.6,5.5,5.6c2.1,0,3.4-0.4,4.5-0.8l0.5,2.1c-1,0.5-2.8,1-5.4,1
			            c-5,0-7.9-3.3-7.9-8.1s2.9-8.7,7.6-8.7c5.3,0,6.7,4.6,6.7,7.6c0,0.6-0.1,1.1-0.1,1.4H204.8z M213.3,134c0-1.9-0.8-4.8-4.1-4.8
			            c-3,0-4.3,2.7-4.5,4.8H213.3z"/>
			        <path id="XMLID_32_" class="st12" d="M219.8,131.9c0-1.7,0-3-0.1-4.4h2.6l0.2,2.7h0.1c0.8-1.5,2.7-3,5.3-3c2.2,0,5.7,1.3,5.7,6.9
			            v9.6h-2.9v-9.3c0-2.6-1-4.8-3.7-4.8c-1.9,0-3.4,1.4-3.9,3c-0.1,0.4-0.2,0.9-0.2,1.4v9.7h-2.9V131.9z"/>
			        <path id="XMLID_34_" class="st12" d="M247.2,143.6l-0.2-2h-0.1c-0.9,1.3-2.6,2.4-4.9,2.4c-3.3,0-4.9-2.3-4.9-4.6
			            c0-3.9,3.5-6,9.7-6v-0.3c0-1.3-0.4-3.7-3.7-3.7c-1.5,0-3.1,0.5-4.2,1.2l-0.7-1.9c1.3-0.9,3.3-1.4,5.3-1.4c4.9,0,6.1,3.4,6.1,6.6v6
			            c0,1.4,0.1,2.8,0.3,3.9H247.2z M246.8,135.4c-3.2-0.1-6.8,0.5-6.8,3.6c0,1.9,1.3,2.8,2.8,2.8c2.1,0,3.4-1.3,3.9-2.7
			            c0.1-0.3,0.2-0.6,0.2-0.9V135.4z"/>
			    </g>
			</g>
			</svg>

</div> 

</body>
</html>


<!-- 
#  WEB DEVELOPER
#    VIDEO FX
#COMPUTER GRAPHICS 
#COMPUTER GRAPHICS 
#COMPUTER GRAPHICS 

-->



</body>
</html>